attrs==22.2.0
boto3==1.26.85
botocore==1.29.85
certifi==2023.07.22
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.3
exceptiongroup==1.1.0
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
jmespath==1.0.1
MarkupSafe==2.1.2
moto==4.1.4
packaging==23.0
pluggy==1.0.0
pycparser==2.21
pytest==7.2.2
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
responses==0.22.0
s3transfer==0.6.0
six==1.16.0
toml==0.10.2
tomli==2.0.1
types-toml==0.10.8.5
urllib3==1.26.14
Werkzeug==2.2.3
xmltodict==0.13.0
